body{
background-color: rgb(255, 255, 255);
margin: 0 auto;
padding: 0;
justify-content: center;
    align-items: center;
      display: flex;

.App{
    
    .main{
        padding: 0 20px 0 20px;
        width: 700px;
        height: 500px;
        margin-top: 90px;
        background-color: rgb(236, 229, 229);
        box-shadow: 0 0 10px 0;
        box-sizing: border-box;
        align-items: center;       
         text-align: center;
         padding: 1rem;
        //  display: flex;

         input{
             padding: 8px;
             width: 60%;
             margin-top: 10px;
             outline: none;
             border-radius: 12px;
             border: none;
             text-align: center;
             font-family: Arial, Helvetica, sans-serif;
             font-size: 18px;
         }
         select{
             width: 60%;
             padding: 8px;
             margin-top: 10px;
             outline: none;
             border-radius: 12px;
             font-family: Arial, Helvetica, sans-serif;
             font-size: 18px;
         }
         textarea{
             width: 60%;
             height: 100px;
             padding: 5px;
             margin: 10px 0 0 0 ;
             outline: none;
             border-radius: 12px;
             font-family: Arial, Helvetica, sans-serif;
             font-size: 18px;
             }

        }
    }
}